ls {
    letter-spacing: 0.3em;
}

lg {
    background-color: lightgrey;
}

y {
    background-color: yellow;
}

c {
    background-color: cyan;
}

h1 {
    font-size: 4vw;
    text-align: center;
    color: blue;
}

l {
    font-size: 2.5vw;
}

b1 {
    font-size: 3vw;
}

b2 {
    font-size: 4vw;
}

b3 {
    font-size: 5vw;
}

.blue {
    color: blue;
    font-weight: bold;
}

.b {
    font-weight: bold;
}

.u {
    text-decoration: underline;
}

.bc {
    background-color: cyan;
}

.bp {
    background-color: pink;
}

.by {
    background-color: yellow;
    text-align: center
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}